Repository conduit-ui/conduit: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-syntax-check, laravel-pint, composer-validate

php-syntax-check:
  name: PHP Syntax Check
  entry: php -l
  language: system
  description: Check PHP syntax errors

laravel-pint:
  name: Laravel Pint (Code Formatting)
  entry: ./vendor/bin/pint
  language: system
  pass_filenames: false
  description: Format PHP code with Laravel Pint
  stages:
  - pre-commit

composer-validate:
  name: Composer Validate
  entry: composer validate
  language: system
  pass_filenames: false
  description: Validate composer.json and composer.lock

fix: resolve remaining issues for PR release
  .github/AGENT_INSTRUCTIONS.md
  .github/workflows/pr-triage-agent.yml
  bootstrap/cache/packages.php
  storage/logs/.gitkeep
  storage/logs/laravel.log
Due: php-syntax-check, laravel-pint

feat: Enhanced OAuth with setup command and spotify-client integration
  app/Providers/AppServiceProvider.php
  app/Services/ComponentManager.php
  app/Services/GithubAuthService.php
  composer.json
  composer.lock
  conduit-spotify/README.md
  conduit-spotify/composer.json
  conduit-spotify/config/spotify.php
  conduit-spotify/src/Commands/SpotifyAuthCommand.php
  conduit-spotify/src/Commands/SpotifyCurrentCommand.php
  conduit-spotify/src/Commands/SpotifyFocusCommand.php
  conduit-spotify/src/Commands/SpotifyPauseCommand.php
  conduit-spotify/src/Commands/SpotifyPlayCommand.php
  conduit-spotify/src/Commands/SpotifyPlaylistsCommand.php
  conduit-spotify/src/Commands/SpotifySetupCommand.php
  conduit-spotify/src/Commands/SpotifySkipCommand.php
  conduit-spotify/src/Commands/SpotifyVolumeCommand.php
  conduit-spotify/src/Contracts/SpotifyApiInterface.php
  conduit-spotify/src/Contracts/SpotifyAuthInterface.php
  conduit-spotify/src/Services/SpotifyApiService.php
  conduit-spotify/src/Services/SpotifyAuthService.php
  conduit-spotify/src/SpotifyServiceProvider.php
  config/app.php
  config/github-client.php
  config/spotify.php
  database/migrations/2025_07_17_012603_create_knowledge_system_tables.php
  storage/framework/cache/data/38/6b/386bf1f1f703e0f106f7c86b96cd2a7b975b0321
  storage/framework/cache/data/bd/9d/bd9d0b78ba246f32518d334d1ea97f18c01b5cd4
  storage/framework/cache/data/c2/57/c257fa9181cbd401d3d5a3616c19280a34407527
  storage/framework/cache/data/d3/30/d3301a20c5b00d40548815ef97498c837c339935
  storage/framework/cache/data/df/67/df67750245ab3646c12de6b8ec6dc08e8d9b5ad8
Due: php-syntax-check, laravel-pint, composer-validate

🔖 BUMP: Version 1.4.0 - Spotify Integration Release
  config/app.php
Due: php-syntax-check, laravel-pint

🔧 FIX: Add cache config for PHAR compatibility
  config/cache.php
Due: php-syntax-check, laravel-pint

🔧 PHAR: Update build configuration and ignore artifacts
  .gitignore
  box.json
  build-phar.php
Due: php-syntax-check, laravel-pint

🧹 CLEAN: Remove cache artifacts
  storage/framework/cache/data/d3/30/d3301a20c5b00d40548815ef97498c837c339935
Due: none

🧠 FEATURE: Knowledge Management System MVP
  app/Commands/KnowledgeCommand.php
  database/migrations/2025_07_17_031459_create_knowledge_entries_table.php
Due: php-syntax-check, laravel-pint

🔧 IMPROVE: Knowledge system auto-initialization
  app/Commands/KnowledgeCommand.php
  config/database.php
Due: php-syntax-check, laravel-pint

🎨 STYLE: Fix code formatting and polish knowledge system
  app/Commands/KnowledgeCommand.php
  app/Contracts/ComponentManagerInterface.php
  app/Contracts/ComponentStorageInterface.php
  app/Contracts/PackageInstallerInterface.php
  app/Providers/AppServiceProvider.php
  app/Providers/SpotifyClientServiceProvider.php
  app/Services/ComponentManager.php
  app/Services/GithubAuthService.php
  build-phar.php
  composer.lock
  conduit-spotify/config/spotify.php
  conduit-spotify/src/Commands/SpotifyAuthCommand.php
  conduit-spotify/src/Commands/SpotifyCurrentCommand.php
  conduit-spotify/src/Commands/SpotifyFocusCommand.php
  conduit-spotify/src/Commands/SpotifyPauseCommand.php
  conduit-spotify/src/Commands/SpotifyPlayCommand.php
  conduit-spotify/src/Commands/SpotifyPlaylistsCommand.php
  conduit-spotify/src/Commands/SpotifySetupCommand.php
  conduit-spotify/src/Commands/SpotifySkipCommand.php
  conduit-spotify/src/Commands/SpotifyVolumeCommand.php
  conduit-spotify/src/Contracts/SpotifyApiInterface.php
  conduit-spotify/src/Contracts/SpotifyAuthInterface.php
  conduit-spotify/src/Services/SpotifyApiService.php
  conduit-spotify/src/Services/SpotifyAuthService.php
  conduit-spotify/src/SpotifyServiceProvider.php
  config/app.php
  config/cache.php
  config/database.php
  config/github-client.php
  config/spotify.php
  database/migrations/2025_07_17_031459_create_knowledge_entries_table.php
Due: php-syntax-check, laravel-pint

🎨 STYLE: Fix code formatting and polish knowledge system (#26)
  app/Commands/KnowledgeCommand.php
  app/Contracts/ComponentManagerInterface.php
  app/Contracts/ComponentStorageInterface.php
  app/Contracts/PackageInstallerInterface.php
  app/Providers/AppServiceProvider.php
  app/Providers/SpotifyClientServiceProvider.php
  app/Services/ComponentManager.php
  app/Services/GithubAuthService.php
  build-phar.php
  composer.lock
  conduit-spotify/config/spotify.php
  conduit-spotify/src/Commands/SpotifyAuthCommand.php
  conduit-spotify/src/Commands/SpotifyCurrentCommand.php
  conduit-spotify/src/Commands/SpotifyFocusCommand.php
  conduit-spotify/src/Commands/SpotifyPauseCommand.php
  conduit-spotify/src/Commands/SpotifyPlayCommand.php
  conduit-spotify/src/Commands/SpotifyPlaylistsCommand.php
  conduit-spotify/src/Commands/SpotifySetupCommand.php
  conduit-spotify/src/Commands/SpotifySkipCommand.php
  conduit-spotify/src/Commands/SpotifyVolumeCommand.php
  conduit-spotify/src/Contracts/SpotifyApiInterface.php
  conduit-spotify/src/Contracts/SpotifyAuthInterface.php
  conduit-spotify/src/Services/SpotifyApiService.php
  conduit-spotify/src/Services/SpotifyAuthService.php
  conduit-spotify/src/SpotifyServiceProvider.php
  config/app.php
  config/cache.php
  config/database.php
  config/github-client.php
  config/spotify.php
  database/migrations/2025_07_17_031459_create_knowledge_entries_table.php
Due: php-syntax-check, laravel-pint

📦 UPDATE: spotify-client package to latest with enhanced PlayerResource
  composer.lock
Due: none

🐛 HOTFIX: Fix Laravel Zero Artisan::call() compatibility issues (v1.5.1)
  app/Commands/KnowledgeCommand.php
  app/Commands/StorageInitCommand.php
  config/app.php
Due: php-syntax-check, laravel-pint

📦 DEPS: Use stable spotify-client v1.2.0 instead of dev-master
  composer.json
  composer.lock
Due: composer-validate

🐛 HOTFIX: Fix Laravel Zero Artisan::call() compatibility issues (v1.5.1) (#31)
  app/Commands/KnowledgeCommand.php
  app/Commands/StorageInitCommand.php
  composer.json
  composer.lock
  config/app.php
Due: php-syntax-check, laravel-pint, composer-validate

🎛️ UX: Hide development and dangerous commands from end users
  config/commands.php
Due: php-syntax-check, laravel-pint

📦 PACKAGE: Update composer.json to conduit-ui/conduit namespace
  composer.json
Due: composer-validate

🔧 REFACTOR: Complete Spotify namespace migration from JordanPartridge\ConduitSpotify to Conduit\Spotify
  app/Commands/SpotifyClientPlayCommand.php
  app/Commands/UserPreferencesCommand.php
  composer.json
  composer.lock
  conduit-spotify/composer.json
  conduit-spotify/src/Commands/Analytics.php
  conduit-spotify/src/Commands/Current.php
  conduit-spotify/src/Commands/Focus.php
  conduit-spotify/src/Commands/Login.php
  conduit-spotify/src/Commands/Logout.php
  conduit-spotify/src/Commands/Pause.php
  conduit-spotify/src/Commands/Play.php
  conduit-spotify/src/Commands/Playlists.php
  conduit-spotify/src/Commands/Queue.php
  conduit-spotify/src/Commands/Search.php
  conduit-spotify/src/Commands/Setup.php
  conduit-spotify/src/Commands/Skip.php
  conduit-spotify/src/Commands/SpotifyAuthCommand.php
  conduit-spotify/src/Commands/SpotifyPlayCommand.php
  conduit-spotify/src/Commands/Volume.php
  conduit-spotify/src/Contracts/ApiInterface.php
  conduit-spotify/src/Contracts/AuthInterface.php
  conduit-spotify/src/ServiceProvider.php
  conduit-spotify/src/Services/Api.php
  conduit-spotify/src/Services/Auth.php
  conduit-spotify/src/Services/BuiltinServer.php
  conduit-spotify/src/Services/SpotifyClipboardAuth.php
  conduit-spotify/src/Services/SpotifyHeadlessAuth.php
  conduit-spotify/src/Services/SpotifyTempServer.php
  conduit-spotify/src/SpotifyServiceProvider.php
  config/app.php
  config/spotify.php
  storage/spotify-callback.php
Due: php-syntax-check, laravel-pint, composer-validate

🔧 CHORE: Add pre-commit configuration for automated code quality checks
  .pre-commit-config.yaml
  app/Commands/KnowledgeCommand.php
  app/Commands/SpotifyClientPlayCommand.php
  app/Commands/StorageInitCommand.php
  app/Commands/UserPreferencesCommand.php
  conduit-spotify/src/Commands/Analytics.php
  conduit-spotify/src/Commands/Current.php
  conduit-spotify/src/Commands/Focus.php
  conduit-spotify/src/Commands/Login.php
  conduit-spotify/src/Commands/Logout.php
  conduit-spotify/src/Commands/Pause.php
  conduit-spotify/src/Commands/Play.php
  conduit-spotify/src/Commands/Playlists.php
  conduit-spotify/src/Commands/Queue.php
  conduit-spotify/src/Commands/Search.php
  conduit-spotify/src/Commands/Skip.php
  conduit-spotify/src/Commands/Volume.php
  conduit-spotify/src/Contracts/AuthInterface.php
  conduit-spotify/src/ServiceProvider.php
  conduit-spotify/src/Services/Api.php
  conduit-spotify/src/Services/Auth.php
  conduit-spotify/src/Services/BuiltinServer.php
  conduit-spotify/src/Services/SpotifyClipboardAuth.php
  conduit-spotify/src/Services/SpotifyHeadlessAuth.php
  conduit-spotify/src/Services/SpotifyTempServer.php
  config/commands.php
Due: php-syntax-check, laravel-pint

🎵 FEATURE: Intelligent duplicate analysis with auto-playlist creation
  conduit-spotify/src/Commands/Analytics.php
  conduit-spotify/src/Services/Api.php
Due: php-syntax-check, laravel-pint

🎵 FEATURE: Complete Playlist Generation Suite - 6 Intelligent Playlists
  conduit-spotify/src/Commands/Analytics.php
Due: php-syntax-check, laravel-pint

🎵 FEATURE: Complete Playlist Generation Revolution - 13 Total Intelligent Playlists
  conduit-spotify/src/Commands/Analytics.php
  conduit-spotify/src/Commands/Focus.php
Due: php-syntax-check, laravel-pint

🔧 FIX: Global installation support and dynamic versioning
  bootstrap/global.php
  composer.lock
  conduit
  conduit-spotify/config/spotify.php
  conduit-spotify/src/Commands/Analytics.php
  conduit-spotify/src/Services/Auth.php
  config/app.php
Due: php-syntax-check, laravel-pint

🔧 HOTFIX: Copy all config files for global installation
  bootstrap/global.php
Due: php-syntax-check, laravel-pint

🎵 IMPROVE: Smart device selection for spotify:focus command
  conduit-spotify/src/Commands/Focus.php
Due: php-syntax-check, laravel-pint

🔧 HOTFIX: Enhanced global installation debugging and error handling
  bootstrap/global.php
  conduit
  debug-global
Due: php-syntax-check, laravel-pint

🗄️ FEATURE: Proper database schema management for global installations
  app/Commands/KnowledgeCommand.php
  app/Services/DatabaseSchemaManager.php
  bootstrap/global.php
Due: php-syntax-check, laravel-pint

🗄️ FEATURE: Shared knowledge database between local and global installations
  app/Commands/KnowledgeCommand.php
  app/Services/DatabaseSchemaManager.php
  config/database.php
Due: php-syntax-check, laravel-pint

📝 DOCS: Update README to reflect v1.11.0 features and current state
  README.md
Due: none

📝 DOCS: Recommend manual Spotify setup due to React server reliability issues
  README.md
Due: none

🎵 FEATURE: Beautiful Laravel Zero prompts setup with auto-clipboard copy
  README.md
  conduit-spotify/src/Commands/Setup.php
Due: php-syntax-check, laravel-pint

🔧 HOTFIX: Fix hardcoded callback script path for global installations
  conduit-spotify/src/Services/BuiltinServer.php
Due: php-syntax-check, laravel-pint

🧹 CLEANUP: Remove conflicting/redundant Spotify commands
  app/Providers/SpotifyClientServiceProvider.php
  config/commands.php
Due: php-syntax-check, laravel-pint

🔄 RENAME: spotify:configure → spotify:setup with backwards compatibility
  README.md
  conduit-spotify/src/Commands/Configure.php
  conduit-spotify/src/Commands/Setup.php
  conduit-spotify/src/ServiceProvider.php
Due: php-syntax-check, laravel-pint

FEATURE: Complete knowledge system v2 with graph schema
  app/Commands/Know/AddCommand.php
  app/Commands/Know/AutoCaptureCommand.php
  app/Commands/Know/ContextCommand.php
  app/Commands/Know/ForgetCommand.php
  app/Commands/Know/ListCommand.php
  app/Commands/Know/MigrateCommand.php
  app/Commands/Know/OptimizeCommand.php
  app/Commands/Know/SearchCommand.php
  app/Commands/Know/SetupCommand.php
  app/Commands/Know/ShowCommand.php
  app/Commands/KnowledgeCommand.php
  app/Models/KnowledgeEntry.php
  app/Models/KnowledgeMetadata.php
  app/Models/KnowledgeRelationship.php
  app/Models/KnowledgeTag.php
  app/Providers/AppServiceProvider.php
  app/Services/DatabaseSchemaManager.php
  app/Services/KnowledgeService.php
  conduit-spotify/src/Commands/Devices.php
  conduit-spotify/src/ServiceProvider.php
  conduit-spotify/src/Services/DeviceManager.php
Due: php-syntax-check, laravel-pint

FEATURE: Complete knowledge system v2 with graph schema
  app/Commands/Know/Add.php
  app/Commands/Know/Context.php
  app/Commands/Know/Forget.php
  app/Commands/Know/Migrate.php
  app/Commands/Know/Optimize.php
  app/Commands/Know/Search.php
  app/Commands/Know/Show.php
  app/Models/Knowledge/Entry.php
  app/Models/Knowledge/Metadata.php
  app/Models/Knowledge/Relationship.php
  app/Models/Knowledge/Tag.php
  conduit-spotify/src/Commands/Play.php
  conduit-spotify/src/Concerns/HandlesAuthentication.php
Due: php-syntax-check, laravel-pint

🔧 FIX: Update AppServiceProvider imports to match renamed command classes
  app/Providers/AppServiceProvider.php
Due: php-syntax-check, laravel-pint

🧹 CLEANUP: Remove deprecated command files with old naming convention
  app/Commands/Know/AddCommand.php
  app/Commands/Know/ContextCommand.php
  app/Commands/Know/ForgetCommand.php
  app/Commands/Know/MigrateCommand.php
  app/Commands/Know/OptimizeCommand.php
  app/Commands/Know/SearchCommand.php
  app/Commands/Know/ShowCommand.php
Due: php-syntax-check, laravel-pint

🚀 CI/CD: Add comprehensive GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

📚 DOCS: Update README for v2.0.0 with knowledge system v2
  README.md
Due: none

🔧 FIX: Adjust CI workflow for better compatibility
  .github/workflows/ci.yml
Due: none

Path conditions:
  php-syntax-check: any of: \.php$
  laravel-pint: any of: \.php$
  composer-validate: any of: composer\.json$
